@import "reset.css";
@import "base.css";
@import "layout.css";
@import "modules.css";

* {
    box-sizing: border-box;
    background-color: lightsteelblue;
  }
   
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
   
  h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    margin: 1em;
    font-weight: bold;
  }
   
  main {
    background-color: #eee;
    padding: 1em;
  }
   
  #photo-gallery {
    background: lightseagreen;
    margin: 0 auto;
    max-width: 928px;
    display: flex;
  }
   
 /* #photo-gallery:after {
    content: "";
    display: table;
    clear: both;
  } */
   
  .creature {
    width: 200px;
    padding: 1em;
    margin: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
   /* float: left; */
  }
   
  .creature h3 {
    text-align: center;
    margin: 0.25em;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
  }
   
  .creature p {
    text-align: center;
    margin: 0.25em;
  }
   
  .horned-template {
    display: none;
  }
  